<div id="main-container" *transloco="let t"
        class="h-[150px] w-full bg-white dark:bg-[#222222] text-[#111111] dark:text-white border-t dark:border-[#454545] border-[#D8D8D8] px-44 py-4 flex">

        <div class="flex-1 flex flex-col justify-center space-y-5">
                <div class="flex">
                        <p class="cursor-pointer ">&#64;2025 Daniel Contador</p>
                </div>
                <div id="text-routes" class="flex space-x-14 font-medium">
                        <h1 class="cursor-pointer" routerLink="/" routerLinkActive="font-bold"
                                [routerLinkActiveOptions]="{ exact: true}">{{ t('home') }}</h1>
                        <h1 class="cursor-pointer" routerLink="/about" routerLinkActive="font-bold">
                                {{ t('about') }}</h1>
                        <h1 class="cursor-pointer" routerLink="/contact" routerLinkActive="font-bold">
                                {{ t('contact') }}</h1>
                </div>
        </div>

        <div class="flex-1 flex justify-center items-center">
                <app-logo routerLink="/"></app-logo>
        </div>
        <div class="flex-1 flex flex-col justify-center space-y-5 items-end">
                <app-main-button [buttontext]="t('try_now')" routerLink="/"></app-main-button>
                <div class="space-x-5">
                        <a href="https://www.linkedin.com/in/daniel-contador-fraile-a721a5a6" target="_blank">
                                <ng-icon name="bootstrapLinkedin" size="20" class="cursor-pointer"></ng-icon>
                        </a>
                        <a href="https://github.com/Daniel-C96" target="_blank">
                                <ng-icon name="bootstrapGithub" size="20" class="cursor-pointer" />
                        </a>

                </div>
        </div>

</div>