<header id="main-container" *transloco="let t" class="h-[60px] w-full bg-white dark:bg-[#222222] text-[#111111] dark:text-white flex items-center px-44 py-4
        sticky top-0 z-50 border-b-1 dark:border-[#454545] border-[#D8D8D8]">

        <app-logo></app-logo>

        <div id="text-routes" class="flex ml-auto space-x-14 font-medium items-center">
                <h1 class="cursor-pointer" routerLink="/" routerLinkActive="font-bold"
                        [routerLinkActiveOptions]="{ exact: true}" (click)="scrollToTop()">{{ t('home') }}</h1>
                <h1 class="cursor-pointer" routerLink="/about" routerLinkActive="font-bold" (click)="scrollToTop()">
                        {{ t('about') }}</h1>
                <h1 class="cursor-pointer" routerLink="/contact" routerLinkActive="font-bold" (click)="scrollToTop()">
                        {{ t('contact') }}</h1>
                <app-main-button [buttontext]="t('try_now')" routerLink="/" (click)="scrollToTop()"></app-main-button>
        </div>
</header>