<header id="main-container"
        class="h-[60px] w-full bg-white dark:bg-[#222222] text-[#111111] dark:text-white flex items-center px-44 py-4 sticky top-0 z-50 border-b-1 dark:border-[#454545] border-[#D8D8D8]">
        <app-logo></app-logo>
        <div id="text-routes" class="flex ml-auto space-x-14 font-medium items-center">
                <h1 class="cursor-pointer font-bold">Home</h1>
                <h1 class="cursor-pointer">About</h1>
                <h1 class="cursor-pointer">Contact</h1>
                <app-main-button buttontext="Try now"></app-main-button>
        </div>
</header>