<div id="whole-page"
        class="min-h-screen w-full bg-[#F3F3F3] dark:bg-[#2F2F2F] text-[#111111] dark:text-white flex relative p-30 items-center">

        <!-- Capa de superposición para controlar la opacidad de la imagen y moverla -->
        <div
                class="absolute inset-0 bg-[url(/computer-about.png)] bg-cover bg-no-repeat top-[-10%] left-[10%] z-0 opacity-90">
        </div>

        <div id="text-container"
                class="flex w-1/2 min-h-1/2 bg-white dark:bg-[#222222] opacity-90 rounded-[20px] p-15 pt-30 pb-30 z-10">
                <!-- Aseguramos que el texto tenga opacidad 100% -->
                <div id="texts" class="opacity-100 space-y-4">
                        <h1 class="font-bold text-2xl">About</h1>
                        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                                reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
                                sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
                                est laborum. </p>
                </div>
        </div>
</div>