<div id="whole-page" *transloco="let t"
        class="min-h-screen w-full bg-[#F3F3F3] dark:bg-[#2F2F2F] text-[#373737] dark:text-white flex relative px-10 py-45">

        <!-- Overlay layer to control the image opacity and position -->
        <div
                class="absolute inset-0 bg-[url(/computer-about.png)] bg-cover bg-no-repeat top-[-10%] left-[10%] z-0 opacity-90">
        </div>

        <div id="text-container"
                class="flex w-full sm:w-3/4 md:w-2/3 lg:w-1/2 bg-white dark:bg-[#222222] opacity-90 rounded-[20px] p-5 justify-center z-10 flex-col gap-y-8 shadow-lg lg:absolute lg:left-10 min-h-[60vh]">

                <!-- Contact Section -->
                <div id="texts" class="opacity-100 gap-y-5 text-center">
                        <h1 class="text-3xl font-semibold text-[#333] dark:text-white">
                                {{t("contact")}}
                        </h1>
                        <p class="text-lg text-[#555] dark:text-gray-300">
                                {{t("contact-text")}}
                        </p>

                        <!-- Social Icons Container -->
                        <div class="flex justify-center gap-x-6">
                                <a href="https://www.linkedin.com/in/daniel-contador-fraile-a721a5a6" target="_blank"
                                        class="hover:scale-110 transition-transform duration-200">
                                        <ng-icon name="bootstrapLinkedin" size="40" class="text-white"></ng-icon>
                                </a>
                                <a href="https://github.com/Daniel-C96" target="_blank"
                                        class="hover:scale-110 transition-transform duration-200">
                                        <ng-icon name="bootstrapGithub" size="40" class="text-white"></ng-icon>
                                </a>
                        </div>
                </div>
        </div>
</div>