<div id="main-container"
        class="bg-white dark:bg-[#222222] text-[#111111] dark:text-white mt-5 mb-5 p-10 pb-10 rounded-[20px] space-y-5 shadow-sm">
        <div id="title" class="flex items-center space-x-1">
                <ng-icon name="heroInformationCircle" size="30"></ng-icon>
                <h1 class="text-2xl">Person's info</h1>
        </div>

        <p>Enter the information of the person that is receiving the gift. All fields are optional, but the more
                information you provide, the more accurate the gifts generated will be.</p>

        <div id="age-field" class="flex flex-col space-y-2">
                <label for="age">What's their age?</label>
                <input type="number" id="age" class="w-full px-4 py-3 border border-gray-300 rounded-lg shadow-sm
            focus:outline-none focus:ring-2 focus:ring-[#6C63FF] focus:border-[#6C63FF]">
        </div>

        <div id="gender-field" class="flex flex-col space-y-2">
                <label for="gender">What's their gender?</label>
                <select id="gender"
                        class="w-full px-4 py-3 border border-gray-300 rounded-lg shadow-sm
            focus:outline-none focus:ring-2 focus:ring-[#6C63FF] focus:border-[#6C63FF] dark:bg-[#222222] dark:text-white">
                        <option value="" selected disabled>Select gender</option>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                </select>
        </div>

        <div id="occasion-field" class="flex flex-col space-y-2">
                <label for="occasion">What's the occasion?</label>
                <select id="occasion"
                        class="w-full px-4 py-3 border border-gray-300 rounded-lg shadow-sm
            focus:outline-none focus:ring-2 focus:ring-[#6C63FF] focus:border-[#6C63FF] dark:bg-[#222222] dark:text-white">
                        <option value="" selected disabled>Select occasion</option>
                        <option value="birthday">Birthday</option>
                        <option value="anniversary">Anniversary</option>
                        <option value="holiday">Holiday</option>
                        <option value="other">Other</option>
                </select>
        </div>

        <div id="recipient-field" class="flex flex-col space-y-2">
                <label for="recipient">Who are you gifting to?</label>
                <select id="recipient"
                        class="w-full px-4 py-3 border border-gray-300 rounded-lg shadow-sm
            focus:outline-none focus:ring-2 focus:ring-[#6C63FF] focus:border-[#6C63FF] dark:bg-[#222222] dark:text-white">
                        <option value="" selected disabled>Select recipient</option>
                        <option value="friend">Friend</option>
                        <option value="family">Family</option>
                        <option value="partner">Partner</option>
                        <option value="colleague">Colleague</option>
                        <option value="other">Other</option>
                </select>
        </div>

        <div>
                <p>Select their hobbies</p>
        </div>

        <div id="budget-fields" class="flex">
                <div class="flex flex-col space-y-2">
                        <label for="budget-min">Minimum budget?</label>
                        <input type="number" id="budget-min" class="w-1/2 px-4 py-3 border border-gray-300 rounded-lg shadow-sm
                        focus:outline-none focus:ring-2 focus:ring-[#6C63FF] focus:border-[#6C63FF]">
                </div>
                <div class="flex flex-col space-y-2">
                        <label for="budget-min">Maximum budget?</label>
                        <input type="number" id="budget-max" class="w-1/2 px-4 py-3 border border-gray-300 rounded-lg shadow-sm
                        focus:outline-none focus:ring-2 focus:ring-[#6C63FF] focus:border-[#6C63FF]">
                </div>

        </div>

        <div id="other-field" class="flex flex-col space-y-2">
                <label for="other">Any other relevant information?</label>
                <textarea maxlength="200" id="other" rows="3"
                        class="w-full px-4 py-3 border border-gray-300 rounded-lg shadow-sm
                    focus:outline-none focus:ring-2 focus:ring-[#6C63FF] focus:border-[#6C63FF] resize-none"></textarea>
        </div>


        <app-main-button class="flex justify-center pt-5" buttontext="Generate"></app-main-button>
</div>