<div id="main-container" *transloco="let t"
        class="bg-white dark:bg-[#222222] text-[#373737] dark:text-white my-5 px-5 sm-px-10 py-7 rounded-[20px] flex flex-col gap-y-6 shadow-sm">
        <div id="title" class="flex items-center gap-x-1">
                <ng-icon name="heroInformationCircle" size="30"></ng-icon>
                <h1 class="text-2xl">{{ t('person_info') }}</h1>
        </div>

        <p>{{ t('info_text') }}</p>

        <div id="age-field" class="flex flex-col gap-y-2">
                <label for="age">{{ t('age_label') }}</label>
                <input type="number" min="0" id="age" [(ngModel)]="age" class="w-full px-4 py-3 border border-gray-300 rounded-lg shadow-sm
                focus:outline-none focus:ring-2 focus:ring-[#6C63FF] focus:border-[#6C63FF]">
        </div>

        <div id="gender-field" class="flex flex-col gap-y-2">
                <label for="gender">{{ t('gender_label') }}</label>
                <select id="gender" [(ngModel)]="gender"
                        class="w-full px-4 py-3 border border-gray-300 rounded-lg shadow-sm
                focus:outline-none focus:ring-2 focus:ring-[#6C63FF] focus:border-[#6C63FF] dark:bg-[#222222] dark:text-white">
                        <option value="" selected disabled>{{ t('select_gender') }}</option>
                        <option value="male">{{ t('male') }}</option>
                        <option value="female">{{ t('female') }}</option>
                </select>
        </div>

        <div id="occasion-field" class="flex flex-col gap-y-2">
                <label for="occasion">{{ t('occasion_label') }}</label>
                <select id="occasion" [(ngModel)]="occasion"
                        class="w-full px-4 py-3 border border-gray-300 rounded-lg shadow-sm
                focus:outline-none focus:ring-2 focus:ring-[#6C63FF] focus:border-[#6C63FF] dark:bg-[#222222] dark:text-white">
                        <option value="" selected disabled>{{ t('select_occasion') }}</option>
                        <option value="birthday">{{ t('birthday') }}</option>
                        <option value="anniversary">{{ t('anniversary') }}</option>
                        <option value="holiday">{{ t('holiday') }}</option>
                        <option value="other">{{ t('other') }}</option>
                </select>
        </div>

        <div id="recipient-field" class="flex flex-col gap-y-2">
                <label for="recipient">{{ t('recipient_label') }}</label>
                <select id="recipient" [(ngModel)]="who"
                        class="w-full px-4 py-3 border border-gray-300 rounded-lg shadow-sm
                focus:outline-none focus:ring-2 focus:ring-[#6C63FF] focus:border-[#6C63FF] dark:bg-[#222222] dark:text-white">
                        <option value="" selected disabled>{{ t('select_recipient') }}</option>
                        <option value="friend">{{ t('friend') }}</option>
                        <option value="family">{{ t('family') }}</option>
                        <option value="partner">{{ t('partner') }}</option>
                        <option value="colleague">{{ t('colleague') }}</option>
                        <option value="other">{{ t('other') }}</option>
                </select>
        </div>
        <div id="hobbies-section" class="flex flex-col gap-y-2">
                <!-- Button to open/close -->
                <div class="flex items-center gap-x-2 cursor-pointer" (click)="toggleHobbies()">
                        <label for="hobbies" class="cursor-pointer">{{ t('select_hobbies') }}</label>
                        <ng-icon [name]="showHobbies ? 'heroArrowUp' : 'heroArrowDown'"></ng-icon>
                </div>

                <!-- Hobbies container -->
                <div class="hobby-container grid grid-cols-2 md:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-5 gap-3 justify-between transition-all duration-500 overflow-hidden m-4"
                        [ngClass]="showHobbies ? 'opacity-100' : 'max-h-0 opacity-0'">

                        <div *ngFor="let hobby of hobbies" (click)="toggleSelection(hobby.name)"
                                class="flex flex-col w-full text-center cursor-pointer transform transition-all duration-300 hover:scale-103 rounded-lg"
                                [ngClass]="isSelected(hobby.name) ? 'bg-[#6C63FF] text-white' : 'bg-transparent'">

                                <!-- Image -->
                                <div
                                        class="relative rounded-lg border dark:border-[#454545] border-[#D8D8D8] shadow-lg w-full h-[10vh] sm:h-[12vh] xl:h-[10vh] overflow-hidden">
                                        <img [src]="hobby.imageUrl" [alt]="hobby.name"
                                                class="w-full h-full object-cover blur-[0.1px]">
                                </div>

                                <!-- Name -->
                                <div class="hobby-name text-[#111111] dark:text-white text-sm font-normal">
                                        {{ t('hobbies.' + hobby.name) }}
                                </div>
                        </div>
                </div>

        </div>

        <div id="budget-fields" class="flex flex-col gap-y-2 sm:gap-y-0 sm:flex-row">
                <div class="flex flex-col gap-y-2">
                        <label for="budget-min">{{ t('minimum_budget') }}</label>
                        <input type="number" min="0" id="budget-min" [(ngModel)]="minBudget" class="w-1/2 px-4 py-3 border border-gray-300 rounded-lg shadow-sm
                            focus:outline-none focus:ring-2 focus:ring-[#6C63FF] focus:border-[#6C63FF]">
                </div>
                <div class="flex flex-col gap-y-2">
                        <label for="budget-min">{{ t('maximum_budget') }}</label>
                        <input type="number" min="0" id="budget-max" [(ngModel)]="maxBudget" class="w-1/2 px-4 py-3 border border-gray-300 rounded-lg shadow-sm
                            focus:outline-none focus:ring-2 focus:ring-[#6C63FF] focus:border-[#6C63FF]">
                </div>
        </div>

        <div id="other-field" class="flex flex-col gap-y-2">
                <label for="other">{{ t('other_info_label') }}</label>
                <textarea maxlength="100" id="other" rows="3" [(ngModel)]="description"
                        class="w-full px-4 py-3 border border-gray-300 rounded-lg shadow-sm
                        focus:outline-none focus:ring-2 focus:ring-[#6C63FF] focus:border-[#6C63FF] resize-none"></textarea>
        </div>

        <div class="flex justify-center pt-2">
                <app-main-button [buttontext]="t('generate_button')" (click)="goToResults()"></app-main-button>
        </div>

</div>